# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.


title: Ceyal's Blog
email: contact@ceyal.me
description: >- # this means to ignore newlines until "baseurl:"
  Hi! I'm Louis, a european citizen studying Computer Science at EPFL.
  This blog covers various topics around computers, information security, politics, culture...
baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://ceyal.me" # the base hostname & protocol for your site, e.g. http://example.com


show_excerpts: true


# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-archives
  - jekyll-paginate
  - liquid_reading_time
  - jekyll-gist # {% gist c08ee0f2726fd0e3909d test.md %}


author:
  name: Ceyal
  email: contact@ceyal.me

minima:
  skin: dark
  social_links:
    twitter: zyuiopShitpost
    github: zyuiop
    telegram: Ceyal
    keybase: zyuiop


jekyll-archives:
  enabled: 
    - categories
    - year
    - month
  layouts:
    year: year-archive
    month: month-archive
    category: category-archive
    # day: day-archive
    # tag: category-archive

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
